.main-menu,
.main-menu__list,
.main-menu__contact,
.main-menu__lang,
.main-menu__item,
.main-menu__lang-list,
.main-menu__contact,
.main-menu__contact-button {
  display: flex;
  flex-direction: column;
}
.main-menu {
  max-width: 13.875rem;
  padding-top: 2rem;
}
.main-menu__item {
  flex-direction: column;
  margin: 0;
  padding: 1rem 0 0 1rem;
  list-style-type: none;
  font-size: 1rem;
  line-height: 1rem;
  text-wrap: nowrap;
  white-space: nowrap;
  gap: 1.5rem;
}
/* стиль для ссылок меню */
.main-menu--style {
  font-weight: 500;
  color: black;
  display: flex;
  align-items: center;
}
.main-menu--style:hover {
  opacity: 0.5;
  transition-duration: 2s;
}
.main-menu--style:focus {
  color: #7e7e82;
}
.main-menu--style:focus::before {
  border-left: 2px;
  border-style: solid;
  border-color: #41f6d7;
  display: flex;
  position: absolute;
  content: "";
  height: 32px;
  width: 4px;
  border-style: solid;
  border-color: #41f6d7;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .site-title::after {
    border-left: 2px;
    border-style: solid;
    border-color: #41f6d7;
    display: flex;
    position: absolute;
    content: "";
    height: 32px;
    width: 4px;
    border-style: solid;
    border-color: #41f6d7;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    left: 0;
  }
}
/* стиль для выбора языка */
.main-menu--style-lang {
  font-weight: 500;
  color: black;
}
.main-menu--style-lang:hover {
  opacity: 0.5;
}
.main-menu--style-email {
  font-size: 1rem;
  font-weight: 500;
}

.main-menu--style-lang:focus {
  color: #7e7e82;
}

.main-menu__lang {
  padding-top: 1rem;
}
.main-menu__lang-list {
  flex-direction: row;
  list-style-type: none;
  gap: 0.5rem;
  padding: 0 0 0 1rem;
}
.main-menu__contact {
  padding-top: 16.75rem;
  gap: 0.5rem;
  padding-left: 1rem;
}
.call {
  font-size: 1.5rem;
  font-weight: bold;
}
.main-menu__contact-button {
  flex-direction: row;
  gap: 1rem;
}
